.signIn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  place-items: center;
}

.signInFormContainer {
  background: rgb(0 0 0 / 0.95);
  backdrop-filter: blur(3px);

  border-radius: var(--border-radius);
  padding: var(--space-8) var(--space-7);
}

.signInForm {
  display: flex;
  flex-direction: column;
}

.signInHeading {
  text-align: center;
  margin-bottom: var(--space);
}

.signInInputs {
  margin-bottom: var(--space-3);
}

.label {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  gap: 1rem;
}

@media screen and (min-width: 650px) {
  .signIn {
    left: 50%;
  }

  .signInForm {
    display: flex;
    flex-direction: column;

    background: none;

    backdrop-filter: blur(0);

    border-radius: 0;
    padding: 0;
  }

  .signInHeading {
    text-align: start;
  }
}
