.signInContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.contactUs {
  padding: var(--content-padding) var(--content-padding) 0 0;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.contactUsLink {
  text-decoration: underline;
  color: var(--color-text-secondary);
}

.signIn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  place-items: center;

  overflow: hidden;

  will-change: transform;
}

.gradientContainer {
  --size: 50vw;
  position: absolute;
  z-index: -1;

  border-radius: var(--border-radius);

  /* replace once sqrt() is supported https://developer.mozilla.org/en-US/docs/Web/CSS/sqrt */
  --square-root-of-two: 1.41421356237;

  width: calc(var(--square-root-of-two) * var(--size) / 2);
  height: calc(var(--square-root-of-two) * var(--size) / 2);

  max-width: 500px;
  max-height: 400px;

  animation: gradient-circle-fly 5s linear infinite both;
}

.gradient {
  --size: 170px;
  width: var(--size);
  height: var(--size);
  --primary-color-1-rgb: 7 223 126;
  --primary-color-2: blue;
  /* display: none; */

  background: radial-gradient(
    circle at center,
    rgb(var(--primary-color-1-rgb) / 1),
    rgb(var(--primary-color-1-rgb) / 0.4) 50%,
    rgb(var(--primary-color-1-rgb) / 0.1) 60%,
    transparent 90%
  );
  border-radius: 50%;
  filter: blur(70px) contrast(2);

  transition: all 0.5s;

  /* animation: gradient-float 2s ease-in infinite both; */
}

.gradient.gradientError {
  --primary-color-1-rgb: 242 182 61;
  --primary-color-2: orange;
}

@keyframes gradient-circle-fly {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes gradient-float {
  from {
    transform: translate(calc(50vw - var(--size)), 0);
  }

  50% {
    transform: translate(0, 0);
  }

  to {
    transform: translate(calc(50vw - var(--size)), 0);
  }
}

.wrap {
  opacity: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pane {
  display: none;
}

@media screen and (min-width: 650px) {
  .signInContainer {
    left: 50%;
  }

  .pane {
    display: grid;
    place-items: center;

    position: absolute;
    left: 0%;
    right: 0;
    top: 0;
    bottom: 0;

    background: rgb(10 18 42 / 3%);
    backdrop-filter: blur(60px);

    transform-origin: 100%;
    transform: scaleX(0);
    overflow: hidden;
  }
}

.signInFormWrapper {
  position: relative;
  transition: 1s all;

  /* overflow: hidden; */
}

.signInFormContainer {
  --form-bg-rgb: 3 19 48;
  background: rgb(var(--form-bg-rgb) / 35%);
  backdrop-filter: blur(14px);

  border-radius: var(--border-radius);
  padding: var(--space-8) var(--space-7);

  /* opacity: 0; */
  /* padding: 140px; */
}

.signInForm {
  display: flex;
  flex-direction: column;
}

.signInHeading {
  text-align: center;
  margin-bottom: var(--space-4);
}

.emailContainer {
  margin-bottom: var(--space-2);
}

.error {
  transition: 0.4s all ease-out;
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
  margin-bottom: 0px;
  transform: translateY(30px);

  font-size: 13px;
}

.errorVisible {
  transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  /* transition-timing-function: ease-out; */
  transform: translateY(0px);
  opacity: 1;
  max-height: 20px;
  margin-bottom: 10px;
}

.signInInputs {
  margin-bottom: var(--space-5);
  border: none;
}

.label {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  gap: 1rem;
  font-size: 13px;
  color: var(--color-text-secondary);
}

.input {
  border: none;
  padding: 8px 16px;
  min-height: 44px;
  font-size: 20px;
  border-radius: 15px;
  min-width: 200px;
  background-color: #caddeb;

  margin-bottom: 8px;

  color: black;

  position: relative;

  transition: box-shadow 0.2s ease-out, background-color 0.2s ease-out;
}

.input:focus {
  background-color: #e8f5ff;
  outline: none;
  box-shadow: 0 0 0px 1px black, 0 0 0px 3px #662ae7bf;
}

.submitButton {
  color: var(--color-text-primary);
  font-size: 20px;
  font-weight: bold;

  text-transform: uppercase;
  cursor: pointer;

  border: none;
  padding: 10px 0;

  border-radius: 15px;

  transition: all 0.2s ease-out;

  background: linear-gradient(
    60deg,
    hsl(223deg 68% 6%) 0%,
    hsl(246deg 46% 14%) 20%,
    hsl(254deg 56% 20%) 31%,
    hsl(257deg 63% 26%) 39%,
    hsl(259deg 69% 32%) 46%,
    hsl(261deg 76% 38%) 53%,
    hsl(263deg 83% 44%) 60%,
    hsl(265deg 93% 48%) 66%,
    hsl(264deg 100% 57%) 71%,
    hsl(265deg 99% 64%) 76%,
    hsl(266deg 98% 70%) 81%,
    hsl(267deg 96% 75%) 86%,
    hsl(269deg 92% 80%) 90%,
    hsl(270deg 85% 85%) 94%,
    hsl(270deg 69% 89%) 98%,
    hsl(270deg 27% 94%) 100%
  );
}

.submitButton:focus {
  outline: none;
  box-shadow: 0 0 0px 1px black, 0 0 2px 3px #662ae7bf;
}

.submitButton:active {
  outline: none;
  /* transform: scale(0.99); */
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: default;
}

.submitButton:hover {
  opacity: 0.8;
}

.link {
  transition: box-shadow 0.2s ease-out;
  border-radius: 4px;
  color: var(--color-text-secondary);
}

.link:focus {
  outline: none;
  box-shadow: 0 0 0px 1px black, 0 0 0px 3px #662ae7bf;
}

.footer {
  padding: 0 var(--content-padding) var(--content-padding)
    var(--content-padding);
  z-index: 1;

  display: flex;
  justify-content: space-between;
}

.copyright {
}

@media screen and (min-width: 650px) {
  .signInFormWrapper {
    transform: translateY(0px);
  }

  .signInFormContainer {
    background: none;
    backdrop-filter: blur(0px);

    /* background: rgba(0, 0, 0, 0.5); */
  }

  .signInForm {
    display: flex;
    flex-direction: column;

    background: none;

    backdrop-filter: blur(0);

    border-radius: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .signInHeading {
    text-align: start;
  }
}

.spinner {
  margin: 0 50px;
  width: 16px;
  height: 16px;
  display: inline-block;
  overflow: visible;
  text-indent: -999em;
  position: relative;
  z-index: 1;
  background: #1e1e1e;
  border-radius: 100%;
  border: 2px solid #00f0f0;
  box-shadow: 0 0 1px 0px #57d8ff inset, 0 0 2px 0px #57ddff;
  border-right-color: #24f8ff;
  border-bottom-color: #57f1ff;
  border-left-color: #57e9ff;
  animation: spin 10s linear infinite;
}
.spinner:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 0;
  z-index: 9;
  top: -6px;
  left: -8px;
  width: 25px;
  height: 16px;
  background: linear-gradient(
    90deg,
    #1e1e1e 0%,
    #1e1e1e 40%,
    rgba(30, 30, 30, 0) 100%
  );
}
.spinner:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 0;
  z-index: 10;
  background: #fff;
  top: 11px;
  left: -3px;
  width: 8px;
  height: 5px;
  transform: rotate(70deg);
  box-shadow: 0px 0px 8px 1px #00c0f0, 0 0 3px 0px #00f0f0 inset;
}
.spinner.three {
  width: 16px;
  height: 16px;
  display: inline-block;
  overflow: visible;
  text-indent: -999em;
  position: relative;
  z-index: 1;
  border-radius: 100% 0;
  z-index: 10;
  background: #fff;
  top: -15px;
  left: -8px;
  width: 4px;
  height: 2px;
  transform: rotate(70deg);
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.4),
    0 0 5px 3px rgba(255, 255, 255, 0.4) inset;
  border: none;
  transform-origin: 9px 9px;
  animation: spin 13s ease infinite;
}
.spinner.three:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 0;
  z-index: 10;
  background: #fff;
  top: 0px;
  left: 0px;
  width: 5px;
  height: 3px;
  transform: rotate(140deg);
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.4),
    0 0 5px 2px rgba(255, 255, 255, 0.4) inset;
  animation: spin2 17s linear infinite;
  transform-origin: 9px 9px;
}
.spinner.three:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 0;
  z-index: 10;
  background: #fff;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 4px;
  transform: rotate(70deg);
  box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.4),
    0 0 5px 1px rgba(255, 255, 255, 0.4) inset;
  animation: spin2 13s linear infinite;
  transform-origin: 9px 9px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(360deg);
  }
  14% {
    transform: rotate(470deg);
  }
  18% {
    transform: rotate(490deg);
  }
  20% {
    transform: rotate(520deg);
  }
  22% {
    transform: rotate(540deg);
  }
  26% {
    transform: rotate(940deg);
  }
  30% {
    transform: rotate(1080deg);
  }
  40% {
    transform: rotate(1340deg);
  }
  45% {
    transform: rotate(1440deg);
  }
  55% {
    transform: rotate(1500deg);
  }
  56% {
    transform: rotate(1520deg);
  }
  86% {
    transform: rotate(3220deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
@keyframes spin3 {
  0% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(3630deg);
  }
}

/* delete code below */

.spinner.two {
  width: 16px;
  height: 16px;
  display: inline-block;
  overflow: visible;
  text-indent: -999em;
  position: relative;
  z-index: 1;
  background: #1e1e1e;
  border-radius: 100%;
  box-shadow: 0 0 2px 0px #f251f2 inset, 0 0 2px 0px #f251f2;
  border: 2px solid #ee22ee;
  border-right-color: #9e0c9e;
  border-left-color: #9e0c9e;
  animation: spin2 7s linear infinite;
}
.spinner.two:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 0;
  z-index: 10;
  background: #fff;
  top: -1px;
  left: -1px;
  width: 6px;
  height: 5px;
  transform: rotate(70deg);
  box-shadow: 0px 0px 3px 2px rgba(204, 34, 238, 0.9),
    0 0 3px 0px rgba(204, 34, 238, 0.9) inset;
  animation: spin2 4s linear reverse infinite;
  transform-origin: 9px 9px;
}
.spinner.two:before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 0;
  z-index: 10;
  background: #fff;
  top: -1px;
  left: -1px;
  width: 6px;
  height: 5px;
  transform: rotate(70deg);
  box-shadow: 0px 0px 2px 1px rgba(204, 34, 238, 0.7),
    0 0 2px 1px rgba(204, 34, 238, 0.7) inset;
  animation: spin3 4s linear reverse infinite;
  transform-origin: 9px 9px;
}
@keyframes spin2 {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(3640deg);
  }
}
