.eclipse {
  --size-eclipse: 320px;
  position: absolute;
  inset: 0;

  z-index: 0;

  display: flex;
}

/* star */

.star {
  --color-eclipse-gold: #74a8ff;
  --color-eclipse-orange: #0032e4;
  --color-eclipse-red: #f8f8f8;
  --color-eclipse-white: #ffffff;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: var(--size-eclipse);
  height: var(--size-eclipse);
  border-radius: 50%;

  background: #fffce4;
}

.smallShadow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: var(--size-eclipse);
  height: var(--size-eclipse);
  border-radius: 50%;

  box-shadow: 1px 1px 20px 2px white;
}

.mediumShadow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: var(--size-eclipse);
  height: var(--size-eclipse);
  border-radius: 50%;

  box-shadow: 0 0 40px 8px white;
  /* filter: drop-shadow(0 0 150px white); */
}

.largeShadow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: var(--size-eclipse);
  height: var(--size-eclipse);
  border-radius: 50%;

  box-shadow: 0 0 400px 100px white;
  filter: drop-shadow(0 0 1000px white);

  opacity: 0;
}

/* planet */

.planet {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(calc(-50% + 25px), calc(-50% + 25px));

  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.88)),
    url(../../assets/planet.svg);
  background-repeat: no-repeat;
  background-size: 100%;

  width: var(--size-eclipse);
  height: var(--size-eclipse);
  border-radius: 50%;

  box-shadow: inset 0 0 15px 2px white;
}

/* diamond ring */

.diamondRingWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: calc(var(--size-eclipse) * 1);
  height: var(--size-eclipse);

  border-radius: 50%;

  opacity: 0;

  display: block;

  /* transform: rotate(-50grad); */

  /* border-radius: 50%; */

  /* filter: drop-shadow(0 0 10px red); */

  /* transition: 0.4s opacity; */
  /* opacity: 0; */
}

.diamondRing {
  position: absolute;
  left: 25px;
  top: 25px;
  display: block;

  box-shadow: 0 0 100px 50px white;

  --size-diamond-ring: 35px;
  width: calc(var(--size-diamond-ring) * 2);
  height: var(--size-diamond-ring);

  transform: rotate(-50grad);
  background: white;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px orange) blur(10px);
}
