.eclipse {
  --size: 200px;
  position: absolute;
  inset: 0;

  z-index: -1;

  display: flex;
}

.planet {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  background: black;

  filter: drop-shadow(0 0 50px white) drop-shadow(0 0 150px white);
}

.star {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  background: red;
}
